<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.CartMapper">

    <resultMap id="CartMapper" type="com.tencent.wxcloudrun.model.Cart">
        <id property="userId" column="userId"/>
        <result property="goodsID" column="goodsID"/>
        <result property="num" column="num"/>
        <result property="date" column="time"/>
        <result property="price" column="price"/>
<!--        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />-->
    </resultMap>

    <select id="queryCart" resultMap="CartMapper" parameterType="java.lang.String">
        SELECT `userId`, `goodsID`, `num`,`time`,`price`
        FROM Cart
        WHERE userId = #{userId}
    </select>

    <select id="queryCartByID" resultMap="CartMapper" parameterType="java.lang.String">
        SELECT `userId`, `goodsID`, `num`,`time`,`price`
        FROM Cart
        WHERE userId = #{userId} AND goodsID = #{goodsID}
    </select>

    <delete id="deleteCart" parameterType="java.lang.String">
        DELETE
        FROM Cart
        where userId = #{userId} AND goodsID = #{goodsID}
    </delete>

    <delete id="deleteCarts" parameterType="java.util.Map">
        DELETE
        FROM Cart
        where userId in
        <foreach collection="info.userId" item="userId" index="index" open="(" close=")" separator=",">
            #{userId}
        </foreach>
          AND
              goodsID in
        <foreach collection="info.goodsID" item="goodsID" index="index" open="(" close=")" separator=",">
              #{goodsID}
        </foreach>
    </delete>

    <update id="updateCart" parameterType="com.tencent.wxcloudrun.model.Cart">
        UPDATE `Cart` SET num = #{num} ,price = #{price} WHERE userId = #{userId} AND goodsID = #{goodsID}
    </update>

    <insert id="createCart" parameterType="com.tencent.wxcloudrun.model.Cart">
        INSERT INTO `Cart`(`userId`, `goodsID`,`num`,`price`)
            VALUE(#{userId}, #{goodsID},#{num},#{price})
    </insert>

</mapper>
