<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.OrderMapper">

    <resultMap id="OrderMapper" type="com.tencent.wxcloudrun.model.Order">
        <id property="userID" column="userID"/>
<!--        <result property="goodsID" column="goodsID"/>-->
<!--        <result property="num" column="num"/>-->
        <result property="createTime" column="createTime"/>
        <result property="price" column="price"/>
        <result property="status" column="status"/>
        <result property="orderID" column="orderID"/>
        <result property="addressNo" column="addressNo"/>
<!--        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />-->
    </resultMap>

    <select id="queryOrderById" resultMap="OrderMapper" parameterType="java.lang.String">
        SELECT `userID`, `price`,`createTime`,`status`,`orderID`,`addressNo`
        FROM `Order`
        WHERE orderID = #{orderID}
    </select>

    <select id="queryOrderByUserId" resultMap="OrderMapper">
        SELECT `userID`, `price`,`createTime`,`status`,`orderID`,`addressNo`
        FROM `Order`
        WHERE userID = #{userID}
        LIMIT #{pageSize} OFFSET #{startIndex}
    </select>
    <select id="queryOrderByStatus" resultType="com.tencent.wxcloudrun.model.Order">
        SELECT `userID`, `price`,`createTime`,`status`,`orderID`,`addressNo`
        FROM `Order`
        WHERE userID = #{userID} AND status = #{status}
    </select>
    <select id="selectCountByStatus" resultType="java.lang.Integer">
        SELECT count(1)
        FROM `Order`
        WHERE userID = #{userID} AND status = #{status}
    </select>

    <delete id="deleteOrder" parameterType="java.lang.String">
        DELETE
        FROM `Order`
        where orderID = #{orderID}
        limit 1
    </delete>

    <update id="updateOrder" parameterType="com.tencent.wxcloudrun.model.Order">
        UPDATE `Order` SET status = #{status}, addressNo = #{addressNo}  WHERE orderID = #{orderID}
    </update>
    <update id="updateOrderStatus" parameterType="com.tencent.wxcloudrun.model.Order">
        UPDATE `Order` SET status = #{status} WHERE orderID = #{orderID}
    </update>

    <insert id="createOrder" parameterType="com.tencent.wxcloudrun.model.Order">
        INSERT INTO `Order`(`userID`,`price`, `status`,`orderID`,`addressNo`)
            VALUE(#{userID},#{price}, #{status},#{orderID},#{addressNo})
    </insert>

</mapper>
