<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.PayMapper">

    <resultMap id="PayMapper" type="com.tencent.wxcloudrun.model.PayResult">
        <id property="transactionID" column="transactionID"/>
        <result property="appid" column="appid"/>
        <result property="bankType" column="bankType"/>
        <result property="payerTotal" column="payerTotal"/>
        <result property="attach" column="attach"/>
        <result property="totalFee" column="totalFee"/>
        <result property="mchID" column="mchID"/>
        <result property="openid" column="openid"/>
        <result property="outTradeNo" column="outTradeNo"/>
        <result property="successTime" column="successTime"/>
        <result property="tradeType" column="tradeType"/>
<!--        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />-->
    </resultMap>


    <update id="updateResult"></update>
    <select id="getResult" resultType="com.tencent.wxcloudrun.model.PayResult"
            parameterType="java.lang.String">
        SELECT `transactionID`,`appid`,`bankType`, `payerTotal`,`attach`,`totalFee`,`mchID`,`openid`,`outTradeNo`,`successTime`,`tradeType`
        FROM PayResult
        WHERE outTradeNo = #{outTradeNo}
    </select>


    <insert id="createPayResult">
        INSERT INTO `PayResult`(`transactionID`,`appid`,`bankType`, `payerTotal`,`attach`,`totalFee`,`mchID`,`openid`,`outTradeNo`,`successTime`,`tradeType`)
        VALUE(#{transactionID},#{appid}, #{bankType},#{payerTotal},#{attach},#{totalFee},#{mchID},#{openid}
            ,#{outTradeNo},#{successTime},#{tradeType})
    </insert>

</mapper>
